IoTSimulatorWithOwntracks.json
[{"id":"34a9e775.c7c2b8","type":"ibmiot in","z":"530ad91c.1ffe28","authentication":"apiKey","apiKey":"fc98a12c.49861","inputType":"evt","deviceId":"lyfas_dev","applicationId":"","deviceType":"lyfas_dev","eventType":"location_updates","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":120.5,"y":250,"wires":[["762712d9.00738c","dfd4d0c4.830f7"]]},{"id":"762712d9.00738c","type":"debug","z":"530ad91c.1ffe28","name":"","active":true,"console":"false","complete":"false","x":336.5,"y":151,"wires":[]},{"id":"dfd4d0c4.830f7","type":"function","z":"530ad91c.1ffe28","name":"modifyPayloadAsPerNeed","func":"return {payload:msg.payload.tid};","outputs":1,"noerr":0,"x":370.5,"y":323,"wires":[["82ce05f2.86c798"]]},{"id":"82ce05f2.86c798","type":"cloudant out","z":"530ad91c.1ffe28","name":"insertDB","cloudant":"","database":"locationupdates","service":"arpitCameraIOT-cloudantNoSQLDB","payonly":false,"operation":"insert","x":643.5,"y":235,"wires":[]},{"id":"fc98a12c.49861","type":"ibmiot","z":"","name":"arpitapikey","keepalive":"60","serverName":"xwpxo1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
