LabDemoWithoutAndroid.json
[{"id":"fce850bc.d38fc","type":"inject","z":"aede2cb2.4725d","name":"devicedata","topic":"","payload":"i am coming from device","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.5,"y":84,"wires":[["96534c69.44d83"]]},{"id":"96534c69.44d83","type":"function","z":"aede2cb2.4725d","name":"devicePayload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\nvar rndbp=Math.floor(Math.random()* (150-70) + 70);\nvar rndsp=Math.round(Math.random()*100);\nvar rndpi=Math.round(Math.random()*80);\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      data:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n         \"PatientNode\":\"Arpit\",\n         \"BedMonitor\":\"P4\",\n         \"Device\":\"HealthCare\",\n         \"DeviceRecord\":\"1\",\n         \"bpmPr\": rndbp, //Random Number\n         \"Spo2\": rndsp, //Random Number\n         \"perfusionIndex\": rndpi, //RandomNumber\n         \"BedNumber\":\"101\"\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":325.5,"y":84,"wires":[["21fe0dd0.e8bb82","d69c3fe.7b01ac"]]},{"id":"21fe0dd0.e8bb82","type":"ibmiot out","z":"aede2cb2.4725d","authentication":"apiKey","apiKey":"fc98a12c.49861","outputType":"cmd","deviceId":"simulatorDevice","deviceType":"simulator","eventCommandType":"buzzer","format":"json","data":"msg.payload","qos":0,"name":"Send to IBM IoT Platform","service":"registered","x":594.5,"y":84,"wires":[]},{"id":"d69c3fe.7b01ac","type":"debug","z":"aede2cb2.4725d","name":"","active":false,"console":"false","complete":"false","x":535.5,"y":148,"wires":[]},{"id":"41b27118.6274b","type":"ibmiot in","z":"aede2cb2.4725d","authentication":"apiKey","apiKey":"fc98a12c.49861","inputType":"cmd","deviceId":"simulatorDevice","applicationId":"","deviceType":"simulator","eventType":"+buzzer","commandType":"buzzer","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":false,"allFormats":true,"qos":0,"x":85,"y":364,"wires":[["aa31209a.6e5cc","db35eb4.0a1b918"]]},{"id":"aa31209a.6e5cc","type":"function","z":"aede2cb2.4725d","name":"temp","func":"return {payload:{\"name\":\"bpmPr\",\"bpmPrvalue\":msg.payload.data.bpmPr}};","outputs":1,"noerr":0,"x":280.5,"y":364,"wires":[["166c025b.b4e66e"]]},{"id":"166c025b.b4e66e","type":"switch","z":"aede2cb2.4725d","name":"temp Thresh","property":"payload.bpmPrvalue","propertyType":"msg","rules":[{"t":"lte","v":"90","vt":"str"},{"t":"gt","v":"90","vt":"str"}],"checkall":"true","outputs":2,"x":478.5,"y":364,"wires":[["5f02e4cb.a36e3c"],["c61e027a.3bdfe"]]},{"id":"5f02e4cb.a36e3c","type":"template","z":"aede2cb2.4725d","name":"safe","field":"payload.bpmPrValue","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"BpmPr ({{payload.bpmPrValue}}) within safe limits","output":"str","x":643.5,"y":347,"wires":[["8b5a0b07.c5bbe8","4ab004aa.28b61c"]]},{"id":"c61e027a.3bdfe","type":"template","z":"aede2cb2.4725d","name":"danger","field":"payload.bpmPrValue","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"bpmPr ({{payload.bpmPrValue}}) critical","output":"str","x":652.5,"y":390,"wires":[["8b5a0b07.c5bbe8","4ab004aa.28b61c"]]},{"id":"8b5a0b07.c5bbe8","type":"debug","z":"aede2cb2.4725d","name":"","active":true,"console":"false","complete":"false","x":809.5,"y":256,"wires":[]},{"id":"db35eb4.0a1b918","type":"debug","z":"aede2cb2.4725d","name":"","active":false,"console":"false","complete":"false","x":248.5,"y":466,"wires":[]},{"id":"4ab004aa.28b61c","type":"cloudant out","z":"aede2cb2.4725d","name":"store into DB","cloudant":"","database":"patientdemodb","service":"arpitCameraIOT-cloudantNoSQLDB","payonly":false,"operation":"insert","x":846.5,"y":346,"wires":[]},{"id":"fc98a12c.49861","type":"ibmiot","z":"","name":"arpitapikey","keepalive":"60","serverName":"xwpxo1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
